/* .pokemon {
    display: inline-block;
    text-align: center;
}
.pokemon img {
    display: block;
} */

/* #text {
    text-align: center;
}

#btn {
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* 
.hide {
    display: none;
} */